@charset "UTF-8";

.background {
	background-image: url('blueTile.png');
	background-size: 50%;
	background-attachment: fixed;
}

table {
	border: 2px solid black;
	width: 25%;
	background-color: grey;
	color: white;
}
table tr:nth-child(even) {
	background-color: black;
	color: white;
}

table tr:nth-child(odd) {
	background-color: white;
	color: black;
}

h1 {
	background-color: white;
	border: 2px solid black;
	width: 25%;
	font-size: 40px;
	text-shadow: 2px 0px green;
}

section {
	border: 2px solid black;
	background-color: green;
	color: red;
	text-shadow: 2px 0px blue;
	width: 25%;
}

ul {
	
	position: sticky;
	top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2E8B57;
}

ul li {
	float: left;
}

ul li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #00FF7F;
}

@media (max-width: 600px) {
	section {
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 100vw;
	}
	
	header, footer {
	width: 100%
	}
}

* {
	box-sizing: border-box;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}